@keyframes example {
   from {border-radius: none;
           }
   to { border-radius: 50%;
        background-color:green;
          } 
 }

div { 
	width: 200px; 	height: 200px; 
	font-size: 18px;
	text-align: center; 
	line-height: 200px;
    background-color: red; 
    /*transition: transform 2s;*/
   }

div:hover {
	/*transform: rotate(360deg); */
 	animation-name: example;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
}

